.Home {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 5fr; /* Dos columnas: .Filters y .Recipes */
    grid-template-rows: auto; /* Ajusta la altura automáticamente */
    gap: 10px; /* Espaciado entre columnas */
    height: calc(100vh - 80px); /* Resta la altura del header (80px) */
    padding: 10px; /* Espaciado interno opcional */
    box-sizing: border-box; /* Incluye padding y border en el tamaño */
}

.OverLayHome{
    content: "";
    position: fixed; /* Cubre toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 1000; /* Coloca el overlay debajo del contenido de .OpenRecipe */ 
}

/*Recetas .Recipes*/
.Recipes {
    background-color: #F7B267; /* Color de fondo para diferenciar */
    height: 100%; /* Asegúrate de que ocupe toda la altura de la grilla */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 15px;
    grid-auto-rows: minmax(calc(100% - 200px),1fr);/*recordar, para que todos los elementos de un grid tengan la misma altura*/
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 10px;
}

/*Para el scroll*/
/* Estilos para la barra de desplazamiento vertical (WebKit/Blink) */
.Recipes::-webkit-scrollbar {
    width: 10px;
}

.Recipes::-webkit-scrollbar-thumb {
    background-color: #D98850;
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.Recipes::-webkit-scrollbar-track {
    background-color: #F2C49A;
    border-radius: 5px;
}

.Recipes::-webkit-scrollbar-thumb:hover {
    background-color: #cc651c;
}

/* Estilos para la barra de desplazamiento vertical (Firefox) */
.Recipes {
    scrollbar-width: thin;
    scrollbar-color: #cc651c #F2C49A;
}

/*Platillos*/
.Meal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f1cda5;
    border-radius: 20px;
    transition: 0.2s ease;  
    overflow: hidden;
}



.Meal img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.Meal:hover{
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}

/*Filtros*/
.Filters {
    background-color: #F7B267;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    display: column;
    
}

.Filter{
    background-color: #f1cda5;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.Filter button {

    color: #333;
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-left: 5px;
    margin-bottom: 5px;
}
  
.button:hover {
    filter: brightness(1.5);
}
  
.button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}
  
  .color-1 { background-color: #264653; }
  .color-2 { background-color: #2a9d8f; }
  .color-3 { background-color: #e5b745; }
  .color-4 { background-color: #f4a261; }
  .color-5 { background-color: #e76f51; }
  .color-6 { background-color: #457b9d; }
  .color-7 { background-color: #1bdfe6; }
  .color-8 { background-color: #17335b; }
  .color-9 { background-color: #88f564; }
  .color-10 { background-color: #e63946; }

  .color-1:hover { background-color: #00415b; }
  .color-2:hover { background-color: #0f9e8d; }
  .color-3:hover { background-color: #e9b123; }
  .color-4:hover { background-color: #ee832b; }
  .color-5:hover { background-color: #e14721; }
  .color-6:hover { background-color: #2270a1; }
  .color-7:hover { background-color: #00ccd3; }
  .color-8:hover { background-color: #10305c; }
  .color-9:hover { background-color: #59f924; }
  .color-10:hover { background-color: #dc0012; }
  
  /*Receta abierta*/
  .OpenRecipe {
    position: absolute;
    background-color: #F7B267;
    max-width: 80%;
    max-height: calc(100vh - 20px); /* Limita la altura máxima */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    top: 2%; /* Ajusta la posición */
    left: 10%;
    right: 10%;
    overflow: hidden; /* Oculta el contenido que exceda */
    display: flex; /* Asegura que el contenido interno respete el tamaño */
    flex-direction: column;
    z-index: 1001; /* Asegúrate de que esté por encima del pseudo-elemento */
}

.recipe-container {
    width: 100%;
    height: 100%; /* Asegura que ocupe toda la altura de .OpenRecipe */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
    background-color: #f1cda5;
    border-radius: 20px;
    transition: 0.2s ease;
    position: relative;
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede */
    overflow-x: hidden;
    box-sizing: border-box;
    min-height: 0; /* Evita que el contenido fuerce un tamaño mínimo */
}

.recipe-container img {
    width: 100%;
    height: 200px; /* Tamaño fijo para las imágenes */
    object-fit: cover; /* Asegura que las imágenes se ajusten sin deformarse */
    border-radius: 10px;
}

.recipe-container > * {
    flex-shrink: 0; /* Evita que los elementos internos se reduzcan */
    max-width: 100%; /* Asegura que los elementos no excedan el ancho */
}


