.Header {
    width: 100%;
    height: 80px;
    background-color: #F25C54;
    border-radius: 0 0 40px 40px;
    display: grid;
    grid-template-columns: 5fr 2fr; 
    align-items: center;
    padding-left: 20px;
    padding-right: 40px; 
    overflow: hidden;
    justify-content: space-between;
}

.logo-container {

    width: 100%;
    max-width: 210px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.logo-container img {
    width: 100%;
}

.HeaderMenu {
    position: relative;
}


.HeaderMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 48.5px;
}

.HeaderMenu ul li {
    margin-left: 20px; 
    width: 100px;
    min-height: 48.5px;
    margin-left: 20px;
    display: flex;
    align-items: center; 
    position: relative;
}

a.menuEnlace { 
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 48.5px;
    overflow: hidden;
}

.menuIcon{
    margin-right: 8px;
}

a.menuEnlace::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%; /* Inicialmente la barra no tiene ancho */
    height: 2px; /* Grosor de la barra */
    background-color: white; /* Color de la barra (puedes cambiarlo) */
    transition: width 0.3s ease-in-out; /* Transición suave del ancho */
}


a.menuEnlace:hover::before {
    width: 100%; /* Al hacer hover, la barra ocupa todo el ancho */
}

/*Reglas responsives*/

@media (max-width: 630px) {
    .HeaderMenu ul li {
      width: 80px;
      justify-content: center;
      padding: 0;
      position: relative;
      margin-left: 20%;
    }
  
    .HeaderMenu ul li span {
      display: none;
    }
  
    a.menuEnlace {
      justify-content: center;
      font-size: 25px;
      display: flex;
      align-items: center; 
      padding: 0; 
      margin: 0;
    }
  
    .menuIcon {
      margin-right: 0 !important; 
      padding: 0;
    }
  }